/* COLOR PALLETTE */
:root{   
    --blue: #5A69A3; /*#5A69A3,   #4E528F*/
    --dblue: #323770; /*#323770*/
    --yellow:#CFA96B;
    --black:#140D23;
    --white:#E3D4BE;
    --red:#870700;
    --yellow2:#E8A83A;
    

    /* --roboto-mono: Roboto Mono; */
}

* {
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
}

body{   /*BACKGROUND*/
    background-image: linear-gradient(to bottom, var(--dblue), var(--blue,));
    height: fit-content; min-height: 100vh; max-width: 100vw;
    
}

.menu{ /*NAV BAR */
    border: 2px solid var(--black);
    background-color: var(--blue);
    border-radius: 15px;

    width: 96%; height: 6.5%;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;

    position: fixed;
    box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
    
   
    
}

li{
    list-style-type: none;
    width: 30%;
        margin: 0px 10px 0px 10px;
}

#van-gauche{
    font-family: "Carter One", system-ui;
    width: 13.5%;
    
    display: flex; /*flexbox, c necessaire de mettre display avant le rest en bas*/
    justify-content: flex-start;  /*decalle tout au debut, a gauche*/
    align-items: left; /*au centre, mais horizontalement*/

}

/*a, a:hover, a:focus, a:active{  
    display: flex; 
    justify-content: flex-start;  
    align-items: center; 
    text-decoration: none;
      color: inherit;
      min-width: fit-content;
      
}  */

    
.link:hover{
  color: var(--yellow);

  text-decoration: none;
}

.link{
  margin: 0% 2% 0% 2%;
  color: var(--black);
  font-size: 1.3em;
  

  display: flex; /*flexbox, c necessaire de mettre display avant le rest en bas*/
    justify-content: flex-start;  /*decalle tout au debut, a gauche*/
    align-items: center; /*au centre, mais horizontalement*/
  
    min-width: fit-content;


}

#van-droite{
    font-family: "Carter One", system-ui;
    font-weight: 800;
    display: flex ;
    justify-content: space-evenly;
    align-items: right;
    width: 50%;
    font-size:small;

}

.logo-chat{

    width: auto;
    height: 100%;
    object-fit: auto;
    
    margin-right:5px;
   
    

    /*border-radius: 50px;
    object-fit: cover;
    padding:1%;
    object-view-box: inset(15% 15% 15% 15%);*/

}


#home{
  min-height:800px;
}


.intro{
  background-color: var(--yellow);
  border-radius: 20px;
 
  margin:8%; margin-top: 10%;
  padding: 0.5% 2% 1% 2%;
  width:40%;


  color: var(--black);
  font-family: "Carter One", system-ui;

  display: flex;
  flex-wrap: wrap;
  
}




.cent{
    margin: 3%;
    width: 95%; 
    height: fit-content;display: flex;justify-content: center;
    margin-top: 10%;
}

.prev-col{
   margin-top: 7%;
    justify-content: center;
    align-items: center;
        
    width: 100%; height: fit-content;
}

.item{   

 margin:0.5%;
}

.art{   
    border: var(--jaune) 1px solid;
    background-color: var(--blue);
    
    max-width: 100%; 
    max-height: 80vh;
    
    
  display: block;
  margin: auto;

    overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
    

    /*cursor: pointer;*/
}

/* HOVER ON IMAGE SHINE EFFECT*/

.art h2 {
  color: var(--yellow);
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.art::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    var(--jaune)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.art:hover{
     transform: scale(1.05);
  box-shadow: 0 0 20px var(--jaune);
   
    
}
.art:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
/* HOVER ON IMAGE SHINE EFFECT ENDDDD*/

/* ZOOM IMAGE*/

.trans{
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  
}

.lightbox img{

  max-width: 95%;
  max-height: 95%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox:target{
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  
}

.lightbox:target img{
  top: 0;
  margin:auto; margin-top:22%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  
}
/* ZOOM IMAGE END*/

/*-----------------------------------------------------------------------------------------------------*/

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery { /*WHOLE PSP GALLERY*/
  margin-top:10%; margin-bottom: 10%;

  display: block;
  justify-content: center;
  align-items: center;
  width : 100%; 

  
}

.carousel-cell {
  width: 66%;
  height: 80vh; /*size of box behind img/art*/ /*.art is the img*/


  border-radius: 5px;
  counter-increment: carousel-cell;

  margin-top:2%;
  margin-bottom:2%;
  margin-right:5%;
  margin-left:5%;

  
}

/* cell number */
.carousel-cell:before {
  
  text-align: center;
  
  line-height: 200px;
  font-size: 80px;

  transform: scale(0.9);
}

.flickity-page-dots{
  display:none;
}
.flickity-button-icon{
  display:none;
}



.floating{
  position: relative;
            animation: float 3s ease-in-out infinite;

}

@keyframes float {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-20px);
                 
            }

            100% {
                transform: translateY(0);
            }
        }





.gallery-redi{
 display: flex;
 justify-content: center;
 margin-bottom:4%;

}

.more{
  padding:10px;

  background-color: var(--blue);
  border-radius: 20px;
  color: var(--black);
  border:solid 2px;

  font-family: "Carter One", system-ui;
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
  
}

.more:hover{
  padding:10px;

  background-color: #CFA96B;
  border-radius: 20px;
  color: var(--black);
  border:solid 2px;

  font-family: "Carter One", system-ui;
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
}













/*----------MUSIC------------*/


.cross-out{
  font-size: 20px;
  
  border-radius: 50px;
  padding:5px 2px 2px 2px;
  color:#9a1515;
  margin-bottom:8px;

  background:transparent;
  border:none;
  
}


.music-box{
   background-color: var(--blue);
  font-size: 25px;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border-radius: 50px;
  color: var(--black);
  border: solid 2px;

  bottom: 5%;
  right:1.5%;
  position: fixed;
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
}

.music-box:hover{
   background-color: var(--yellow);
  font-size: 25px;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border-radius: 50px;
  color: var(--black);
  border: solid 2px;

  bottom: 5%;
  right:1.5%;
  position: fixed;
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
}




.emplacement{
  position:fixed;
  bottom: 20px;
  right:20px;

  height:150px;
  width:200px;
}

.music-emplacement{
  background-color: var(--yellow);
  border-radius:20px;

  position:fixed;
  bottom: 20px;
  right:20px;

  height:120px;
  width:200px;
  
  display: flex;

  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
  

}

.box{
  height:100%;
  width:50%;
}

.box-1{
  /*background-color: #CFA96B;*/
  
  padding: 5px;
  
  width:100%;
  height:50%;
  
  display: flex;
 
}

.box-2{
  /*background-color: #084b12;*/
  
  width:100%;
  height:100%;
  
 
}

.prev, .next{
  background-color: #084b12;
  width: 15%;
  height: 99%;

}

.cassette{
  /*background-color: #3649ac;*/
  width: 70%;
  height: 99%;overflow: hidden;
}



.gallery-2 { 
 
  width : 100%; 

}

.carousel-cell-2{
  width: 100%;
  height: 80vh; /*size of box behind img/art*/ /*.art is the img*/
  counter-increment: carousel-cell;


}
/* cell number */
.carousel-cell-2:before {
  
  text-align: center;
  
  line-height: 200px;
  font-size: 80px;

  transform: scale(0.9);
}

.flickity-viewport{

  width: 100%;
 
}




.footer{
  /*background-color: #4E528F;*/
  border-radius: 20px;
  border-color: var(--yellow);
  border-style:solid ;
  border-width: 2px;

  margin: auto;
  margin-top:1%;
  margin-bottom:1%;

  width: 82.5%; 
  


  display: flex; flex-wrap: wrap;  justify-content:space-evenly;

}

.pokebag{
  display: flex;
  align-items: end;
  justify-content: center;

  width: 40%;
  height: 5em;

}

.pokemon{
  margin:1%;

}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: var(--dblue);
  

}

.text-secondary:hover{ /*socials hover*/
  color:var(--yellow);
}

.ownership{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: "Carter One", system-ui;
   width: 25%;
}