/* COLOR PALLETTE */
:root{   
    --blue: #5A63A3; /*#5A69A3,   #4E528F*/
    --blue2: #323270;
    --dblue: #241E50; /*#323770*/

     --yellow2:#E8A83A;
    --yellow:#CFA96B;

    --black:#140D23;
    --white:#f3e9e8; /*#E3D4BE */
    --grey:#1E1E1E;

    --red:#870700;
    --red2:#A83F35;

    --green:#527267;
    --green2:#689083;
   
    /* --roboto-mono: Roboto Mono; */
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
}


.WARNING{
   background-color: var(--red);
  border-radius: 20px;
 
  margin:8%; margin-top: 1%;
  padding: 2%;
  width:100%;

  color: var(--white);
  font-family: "Carter One";
  
  display: flex;
  flex-wrap: wrap;
  font-size:1.5rem;
}

body{   /*BACKGROUND*/
    background-color: var(--grey);
    height: fit-content; min-height: 80vh; max-width: 100vw;
    
    
}

.menu{ /*NAV BAR */
    border: 2px solid var(--black);
    background-color: var(--blue);
    border-radius: 15px;
    font-size: 1.7rem;

    width: 40%; height: 7%;
    top: 1%;
    right: 0.5%;
    

    display: flex;
    justify-content: space-between;

    position: fixed; z-index: 6;
    box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);  
                
}
    
.link:hover{
  color: var(--yellow);

  text-decoration: none;
}

.link{
  margin: 0% 2% 0% 2%;
  color: var(--black);
  text-decoration: none;
  list-style-type: none;
    width: 30%;
        margin: 0px 10px 0px 10px;

  display: flex; /*flexbox, c necessaire de mettre display avant le rest en bas*/
    justify-content: flex-start;  /*decalle tout au debut, a gauche*/
    align-items: center; /*au centre, mais horizontalement*/
  
    min-width: fit-content;
    font-family: "Carter One", system-ui;
   
    display: flex ;
    justify-content: space-evenly;
}



.logo-chat{

    width: auto;
    height: 100%;
    object-fit: auto;
    
    margin-right:5px;
   
    

    /*border-radius: 50px;
    object-fit: cover;
    padding:1%;
    object-view-box: inset(15% 15% 15% 15%);*/

}



.home{
  min-height:600px;
  margin-top: 10%;
  margin:1% 5% 0% 5%;
}


.row{
  content: "";
  display: table;
  clear: both
}
.col{
     float: left;
    width: 50%;
}


.diplo-title{
  margin: 1% 1% 0% 0%;
  
  display: flex;
  text-align: center; justify-content: center;
  
}


.bandaid-warning{
  margin-top:10%;
  background-color: #d2a68e;
  border-radius: 45px;
  border: solid 3px #ad7f6e;
  font-size:1.3rem;
 
  padding: 1% 2% 1% 2%;
  width:80%;

  display: flex;
  flex-wrap: wrap; justify-content: center;
  
  transform: rotate(10deg);
  background-image: radial-gradient(circle at 1px 1px, #ad7f6e 2px, transparent 0);
  background-size: 25px 25px;
  
  position:relative;
  left:20px;
}

.warning{
  
  background-color: #d6b3a0;
  border-radius: 20px;
  width:fit-content;
  max-width: 50%;
 border: solid 3px #ad7f6e;
  padding: 1% 2% 1% 2%;
  width:100%;

  display: flex;
  justify-content: center; 
  text-align: center;

    color: var(--red);
  font-family: "Carter One";
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--blue) 40%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 50%, transparent);  
}



#gal-cent{
   
    
    margin: 3%;
    width: 95%; 
    height: fit-content;

    /*top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

#gal-col{
    
    display: flex; flex-wrap: wrap;
    justify-content: center;
    align-items: center;
        
    width: auto; height: fit-content;
}

.item{   
  border-radius:25px;
  background: none;
  margin:0.5%;
}

.art{   
    border: var(--yellow) 1px solid;
    background-color: var(--blue);
    
    width: auto; 
    height: 300px;
    
    
   

    overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
    

    cursor: pointer;
}


/* HOVER ON IMAGE SHINE EFFECT*/

.art h2 {
  color: var(--yellow);
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.art::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    var(--yellow)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.art:hover{
     transform: scale(1.05);
  box-shadow: 0 0 20px var(--yellow);
   
    
}
.art:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
/* HOVER ON IMAGE SHINE EFFECT ENDDDD*/




/* ZOOM IMAGE*/

.trans{
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  
}

.lightbox img{

  max-width: 95%;
  max-height: 95%;
  position: relative;
  top: -100%;
  /* Transition */
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.lightbox:target{
  outline: none;
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -ms-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  
}

.lightbox:target img{
  top: 0;
  margin:auto; margin-top:24%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  
}
/* ZOOM IMAGE END*/


/*-------------------------------------*/

.button-zoom{
  width:100px;
  height:100px;

}

.folder-gal{
  background-color: var(--black);
  position: fixed;
  width: 100%;
  height: 100%;
}
.cont{
  background-color:  rgba(0,0,0,0.75);
  position:fixed;
  width:100vw;
  height: 100vh;
  top:0; left:0;
  display: grid;  grid-template-columns: 20vw 50vw 30vw;
  column-gap:10px;
  justify-items: center;
  
}


.credits{
  background-color: var(--blue);
  

  min-width:200px;
  height: fit-content;

  word-break:break-all ; font-family: "Carter One", system-ui;
  color: var(--black);
  border-radius: 20px;
  position: relative;

  margin-top:10px;
  margin-left:10px;
  padding: 3%;
  white-space: nowrap;
}

.image-zoom{

  /*position:relative;
  
  
  top: 50%;
  transform: translateY(-50%); */

  display: flex; justify-content: center; align-items: center;


  height: auto ;
  width:auto;
  max-width: 70vw;
  max-height:100vh
  
  
   
}

.notes{
  background-color: var(--blue);
  color: var(--black);
  border-radius: 20px;

  min-width: 200px;
  height: fit-content;
  place-self: end;

  overflow-wrap: break-word;white-space: nowrap; font-family: "Carter One", system-ui; text-align: left;
  
  margin-right:43px;
  margin-bottom:10px;
  padding: 3%;

}







/*-------------------------------------*/

/* FILTER BUTTON*/

#filter{

   margin: 1% 5% 5% 5%;
    width: 90%; 
    height: fit-content;
    

}

.filter-btn{
  background-color: var(--blue);
  font-size: 16px;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border-radius: 20px;
  color: #000000;
  margin:1px;

}
.filter-btn.active{
  background-color: var(--yellow);
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
 transition: all 0.3s ease;
 margin:1px;
}

.hidden{
  display:none;
}

/* FILTER BUTTON END*/


/*FOLDER BUTTON*/
.btn{
background-color: var(--blue);
  font-size: 16px;
  padding: 8px 12px 8px 12px;
  cursor: pointer;
border-radius: 15px;
margin:5px;
border-color: var(--yellow);
}


.btn:hover{
background-color: var(--yellow);
}
.btn:focus{ /*changes color after it has been clicked*/
background-color: var(--yellow);
}

/*FOLDER BUTTON END*/



/*NSFW BUTTON*/
.filter-nsfw{
  background-color: #315833;
  font-size: 16px;
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  border-radius: 20px;
  color: var(--black);

}

.filter-nsfw.selected{
  background-color: var(rgb(90, 17, 17));
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
  border-radius: 15px;
transition: all 0.3s ease;
}

.button:hover{
background-color: var(--yellow);
}

.button:focus{ /*changes color after it has been clicked*/
background-color: rgb(88, 9, 9);
}
/*NSFW BUTTON END*/

#link{
  color: var(--yellow2);

}


#link:hover{
  color: var(--red);
text-decoration: none;
}



/*-------------------------------------------------------FOOTER------------------------------------*/



.footer{
  /*background-color: #4E528F;*/
  border-radius: 20px;
  border-color: var(--yellow);
  border-style:solid ;
  border-width: 2px;

  margin: auto;
  margin-top:1%;
  margin-bottom:1%;

  width: 82.5%; 
  


  display: flex; flex-wrap: wrap;  justify-content:space-evenly;

}

.pokebag{
  display: flex;
  align-items: end;
  justify-content: center;

  width: 40%;
  height: 5em;

}

.pokemon{
  margin:1%;

}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-decoration: none;
  
}

.text-secondary{
  color: var(--yellow);
  
  text-decoration: none;

}

.text-secondary:hover{ /*socials hover*/
  color:var(--green2);
}

.ownership{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--green2);
  font-family: "Carter One", system-ui;
   width: 25%;
   font-size: 1.3rem;
}