/* COLOR PALLETTE */
:root{   
    --blue: #5A63A3; /*#5A69A3,   #4E528F*/
    --blue2: #323270;
    --dblue: #241E50; /*#323770*/

     --yellow2:#E8A83A;
    --yellow:#CFA96B;

    --black:#140D23;
    --white:#f3e9e8; /*#E3D4BE */
    --grey:#1E1E1E;

    --red:#870700;
    --red2:#A83F35;

    --green:#527267;
    --green2:#689083;
   
    /* --roboto-mono: Roboto Mono; */
}

*{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    border-spacing: 0;
    box-sizing: border-box;
}


.WARNING{
   background-color: var(--red);
  border-radius: 20px;
 
  margin:8%; margin-top: 1%;
  padding: 2%;
  width:100%;

  color: var(--white);
  font-family: "Carter One";
  
  display: flex;
  flex-wrap: wrap;
  font-size:1.5rem;
}

body{   /*BACKGROUND*/
    background-color: var(--grey);
    height: fit-content; min-height: 80vh; max-width: 100vw;
    
    
}

.menu{ /*NAV BAR */
    border: 2px solid var(--black);
    background-color: var(--blue);
    border-radius: 15px;
    font-size: 1.7rem;

    width: 40%; height: 7%;
    top: 1%;
    right: 0.5%;
    

    display: flex;
    justify-content: space-between;

    position: fixed; z-index: 6;
    box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);  
                
}

/*a, a:hover, a:focus, a:active{  
    display: flex; 
    justify-content: flex-start;  
    align-items: center; 
    text-decoration: none;
      color: inherit;
      min-width: fit-content;
      
}  */


.link:hover{
  color: var(--yellow);

  text-decoration: none;
}

.link{
  margin: 0% 2% 0% 2%;
  color: var(--black);
  text-decoration: none;
  list-style-type: none;
    width: 30%;
        margin: 0px 10px 0px 10px;

  display: flex; /*flexbox, c necessaire de mettre display avant le rest en bas*/
    justify-content: flex-start;  /*decalle tout au debut, a gauche*/
    align-items: center; /*au centre, mais horizontalement*/
  
    min-width: fit-content;
    font-family: "Carter One", system-ui;
   
    display: flex ;
    justify-content: space-evenly;
}

.logo-chat{

    width: auto;
    height: 100%;
    object-fit: auto;
    
    margin-right:5px;
   
    

    /*border-radius: 50px;
    object-fit: cover;
    padding:1%;
    object-view-box: inset(15% 15% 15% 15%);*/

}

/*------------------------------------*/

.home{
  min-height:600px;
  margin-top: 10%;
  margin:1% 5% 0% 5%;
}

.row{
   display: flex;
  text-align: center; justify-content: center;
}
.col{
     float: left;
    width: 50%;
}


.diplo-title{
  margin: 1% 1% 0% 0%;
  
  display: flex;
  text-align: center; justify-content: center;
 /* position: relative;
  left:40px; */
  
}


.bandaid-warning{
  margin-top:10%;
  background-color: #d2a68e;
  border-radius: 45px;
  border: solid 3px #ad7f6e;
  font-size:1.3rem;
 
  padding: 1% 2% 1% 2%;
  width:80%;

  display: flex;
  flex-wrap: wrap; justify-content: center;
  
  transform: rotate(10deg);
  background-image: radial-gradient(circle at 1px 1px, #ad7f6e 2px, transparent 0);
  background-size: 25px 25px;
  
  position:relative;
  left:20px;
}

.warning{
  
  background-color: #d6b3a0;
  border-radius: 20px;
  width:fit-content;
  max-width: 50%;
 border: solid 3px #ad7f6e;
  padding: 1% 2% 1% 2%;
  width:100%;

  display: flex;
  justify-content: center; 
  text-align: center;

    color: var(--red);
  font-family: "Carter One";
  box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--blue) 40%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 50%, transparent);  
}

/*-------------------------*/




.cent{
    display: flex; 
    justify-content: center;
    margin-top: 5%;

    width:100%;
    min-height:1350px;
    height: fit-content;
}




/*----------------------------------- UPDATES LOG-------------------*/

.decoration-1{

    background-color: #5A69A3;
    width: 350px ;
    height: 20%;
    border-radius:25px;

    background-image:url(image/diplo_doodles_lost_1.png);
    background-position: center bottom 40%;

    margin-bottom: 8%;
    padding:2%;
border: 3px var(--black) solid; 

}


.update{
    font-family: "Carter One", system-ui;
    width: 350px; height: 500px;
    background-color: var(--yellow);
    border-radius: 20px;
   
    color: var(--black);
    margin: 1%;
    border: 3px var(--black) solid; 
    font-size:1.3rem;

}

.scroll{
    overflow-y: scroll;
    scrollbar-width:none;

    width: 340px; height: 440px;
    padding:1%;
    border-radius: 20px;
     margin:auto;
    
}

.entry{
    font-family: "Carter One", system-ui; 
    height: fit-content;
    background-color: var(--white);
    border-radius: 20px;
    margin:1%;
    font-size:1.3rem;
    color:var(--black);
    padding: 5%;
    overflow: hidden;
    word-wrap: break-word;
    box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
    
}

/*----------------------------------- UPDATES LOG END -------------------*/




.TODO{
    font-family: "Carter One", system-ui;

    width:350px; 
    height: 500px;

    background-color: var(--yellow);
    border-radius: 20px;
   
    color: var(--black);
    margin: 1%;
    border: 3px var(--black) solid; 
    font-size:1.3rem;
}


.checkbox{
    font-family: "Carter One", system-ui; 
    height: fit-content;
    background-color: var(--white);
    border-radius: 20px;
    color:var(--black);

    padding: 3%; 
    
    box-shadow: inset -1px -1px 2px 1px color-mix(in srgb, var(--dblue) 70%, transparent), 
                inset 2px 2px 2px 1px color-mix(in srgb, var(--white) 30%, transparent);
    font-size:1.3rem;
}



.decoration-2{

    background-color: #5A69A3;
    width: 60vw ;
    height: 15%;
    border-radius:25px;

    margin: 0% 3% 3% 3%;
    padding:2%;

    border: 3px var(--black) solid; 


}


.Blogs{
    margin: 6% 3% 3% 3%;
   
}


/*-----------------------------------------------------------------------------------------------------------*/
/* -------------------ART BLOG----------------------*/
.Art-blog-button{
    background-color: var(--blue);
    border-radius: 25px 25px 0px 0px;

    border: 3px var(--black) solid;
    border-bottom: 4px var(--blue) solid;
   

    padding: 2% 6% 2% 6% ;
    text-decoration: none;

    width: 150px ;
    height: 5%;

    font-family: "Carter One", system-ui; color: var(--black);
    font-size:1.3rem;

    position:relative;
    z-index:3; 
    
}

.Art-blog-button:visited{
    color: var(--black);
    text-decoration: none;
    
}


#Art-blog{
    background-color: var(--blue);
    border-radius: 0px 25px 25px 25px;
    /* border: 3px var(--black) solid; */
    padding:2%; 

    width: 60vw ;
    height: 50%;
    height: fit-content;
    border: 3px var(--black) solid;
    
    position:relative;
    top:-3px;
    z-index:-1;

}

/* -------------------Perso BLOG----------------------*/
.Perso-blog-button{
    background-color: var(--red2);
    border-radius: 25px 25px 0px 0px;

    border: 3px var(--black) solid; 
    color: var(--black);
    text-decoration: none;
    
    padding: 2% 6% 2% 6% ; 
    font-size:1.3rem;

    width: 150px ;
    height: 5%;

    font-family: "Carter One", system-ui; color: var(--black);

    
}

.Perso-blog-button:hover{
    color: var(--black);
    text-decoration: none;

}

.Perso-blog-button:visited{
    color: var(--black);
    text-decoration: none;

}

#Perso-blog{
        background-color: var(--red2);
    border-radius: 0px 25px 25px 25px;
    /* border: 3px var(--black) solid; */
    padding:2%; 

    width: 60vw ;
    height: 50%;
    height: fit-content;
    border: 3px var(--black) solid;
    border-top: none;

    position:relative;
    top:-455px;
    z-index:-1; 
}











/*-------------------------------------------------------FOOTER------------------------------------*/



.footer{
  /*background-color: #4E528F;*/
  border-radius: 20px;
  border-color: var(--yellow);
  border-style:solid ;
  border-width: 2px;

  margin: auto;
  margin-top:1%;
  margin-bottom:1%;

  width: 82.5%; 
  


  display: flex; flex-wrap: wrap;  justify-content:space-evenly;

}

.pokebag{
  display: flex;
  align-items: end;
  justify-content: center;

  width: 40%;
  height: 5em;

}

.pokemon{
  margin:1%;

}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  text-decoration: none;
  
}

.text-secondary{
  color: var(--dblue);
  
  text-decoration: none;

}

.text-secondary:hover{ /*socials hover*/
  color:var(--yellow);
}

.ownership{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: "Carter One", system-ui;
   width: 25%;
   font-size: 1.3rem;
}




.show{
z-index:1;
}